body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .signup-container {
    display: none;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-group input{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .dashboard-container{
    display: none;
  }
  #sign-up-link{
    cursor: pointer;
  }
  #log-in-link{
    cursor: pointer;
  }
  
  .dashboard-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .balance {
    margin-bottom: 20px;
  }
  
  .balance p {
    margin: 5px 0;
  }
  
  .dashboard-container .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .dashboard-container label {
    font-weight: bold;
  }
  
  .dashboard-container .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dashboard-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dashboard-container button:hover {
    background-color: #0056b3;
  }
  
  .logOut {
    margin-top: 10px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .logOut:hover {
    text-decoration: underline;
  }
  